@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", serif;
    scroll-behavior: smooth;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 4px;
}

iframe {
    border-radius: "30px"
}

/* Banner Styles */
.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #000;
    /* Fallback color */
    position: relative;
    z-index: 1;
}

.banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0.6;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 300px;
}

.logo {
    font-family: "Rubik Vinyl", serif;
    padding: 0px 0px 0px 10px;
    color: #ffffff;
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-radius: 50px 0 50px 0;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    word-spacing: normal;
}

.menu a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
}

#contactus {
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: #ff0000;
    padding: 7px 25px;
    border-radius: 5px;
}

#contactus:hover {
    background-color: #64564B;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Banner Content */
.bannercontent {
    max-width: 700px;
    margin: 5% auto;
    text-align: center;
    color: #fff;
}

.bannercontent h1 {
    font-size: 30px;
    font-weight: 700;
}

.bannercontent p {
    font-size: 15px;
    margin: 30px 0;
}

.bannerbutton {
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;

}


#banner_contactus, #tutorial{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#banner_contactus {
    background-color: #ffffff;
    color: #ff0000;

}

#banner_contactus:hover {
    background-color: #314E6C;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#tutorial {
    background-color: #ff0000;
    color: #ffffff;
}

#tutorial:hover {
    background-color: #314E6C;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}





/* About Us Area*/
.aboutusarea {
    margin: 0px 0px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Latest video Area */
.latestvideoarea {
    margin: 0px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 228, 255);

}

#videoandimagetext, #videoandimagevideo {
    padding: 50px 0px;
    width: 50%;
    display: flex;
    justify-content: center;

}

#videoandimagetext {
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(252, 227, 255);
}

/* Contact Us Area*/
.contactusarea {
    display: flex;
    color: #ffffff;
    background-color: rgb(131, 131, 131);
}

#contactustext, #contactusform {
    padding: 50px 10px;
    width: 50%;
}

#contactustext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#contactusform {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="submit"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

input[type="submit"] {
    background-color: green;
    color: white;
}

/* Footer */
.footer {
    font-family: "Josefin Sans", serif;
    background-color: #000000;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}