        /* Font imports */
        @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            margin: 0;
            padding: 0;
        }

        /* Base styles */
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            scroll-behavior: smooth;
            margin: 0 auto;
        }

        .wheat-bg {
            padding: 0 0 160px 0;
        }

        /* Typography */
        h1,
        h2,
        h4,
        h5,
        h6,
        p {
            margin: 0 0 15px;
            font-family: "Bricolage Grotesque", serif;
            line-height: 1.6;

        }

        a {
            text-decoration: none;
            color: #333;
        }

        /* Images and Media */
        img {
            max-width: 100%;
            height: auto;
        }

        video {
            border-radius: 18px;
        }

        /* Header styles */
        .header-wrapper {
            max-width: 1400px;
            margin: 0 auto;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            padding: 20px 100px 15px;
            border-bottom: 1px solid rgb(211, 211, 211);
            background-color: #FFF9F3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease;
        }

        .logo {
            width: 15%;
            display: flex;
            justify-content: flex-start;
        }

        .menu {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu nav,
        .menu ul {
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 20px;
            align-items: center;
        }

        .menu a {
            font-size: 16px;
            color: #292281;
            font-weight: 500;
            font-family: "Inter", serif;
        }

        .menu a:hover {
            color: #007bff;
            text-decoration: none;
        }

        .menu-ul .li-feature::before {
            content: "👌 ";
        }

        /* Authentication buttons */
        .log-sign-btn {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            align-items: center;
        }

        .signup,
        .login {
            color: blue;
            font-size: 14px;
            font-weight: 500;
        }

        .signup:hover,
        .login:hover {
            text-decoration: underline;
        }

        .signup {
            border: 1px solid blue;
            padding: 7px 15px;
            border-radius: 5px;
        }

        /* Hero section */
        .hero-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 160px 0 60px 0;
            gap: 15px;
            transition: background-color 0.3s ease;
        }

        .hero-text {
            text-align: center;
        }

        .hero-text h1 {
            font-size: 70px;
            color: #17134A;
            line-height: 1;
            max-width: 1200px;
            font-weight: 800;
            letter-spacing: -2px;
        }

        .hero-text p {
            font-size: 22px;
            color: #584b85;
        }

        /* Features */
        .features {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .features li {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            font-weight: 500;
            color: #45426E;
            cursor: pointer;
            transition: color 0.2s ease, transform 0.2s ease;
        }

        .features li:hover {
            color: #007bff;
            transform: scale(1.05);
        }

        .features li svg {
            width: 18px;
            height: 18px;
            margin: 0;
        }

        /* Hero button */
        .hero-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 10px;
        }

        .hero-button a {
            position: relative;
            display: inline-flex;
            align-items: center;
            background-color: #0056b3;
            color: #fff;
            padding: 12px 24px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .hero-button a:hover {
            background-color: #007bff;
        }

        .hero-button svg {
            width: 18px;
            height: 18px;
        }

        .hero-btn-back{
            position: absolute;

        }

        /* Hidden Box */
        .hidden-box {
            width: 300px;
            height: 200px;
            background-color: #556b2f;
            margin: 20px auto;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: none;
        }

        .hidden-box:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .hidden-box p {
            color: white;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            margin: 0 auto;
            padding-top: 60px;
        }
        /* Featured section */
        .featured-on {
            padding: 30px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .featured-on img {
            width: 100px;
            height: 35px;
        }

/* Hero video */
.hero-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    max-width: 1000px;
}

.video-border-wrapper {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    overflow: hidden;
}

.hero-video video {
    width: 100%;
    display: block;
    border-radius: 15px;
    object-fit: cover; 
}





        /*WHite Section*/
        .white-section {
            margin: -130px 80px 0;

        }

        .staf-and-logo-area {
            margin: 0 auto;
            background-color: rgb(255, 255, 255);
            padding: 30px 35px 80px;
        }

        .staf {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .staf-single-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 8px;
            width: 33.33%;
            height: auto;
        }

        .staf-single-info img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .staf-p {
            font-size: 18px;
            color: #45426E;
            text-align: center;
        }

        .staf-p-span {
            font-weight: 700;
            background-color: #FCF2DE;
            line-height: 1.6;
        }

        .staf-h3 h3 {
            margin: 0 0 -15px;
            color: #666;
        }

        .company-single-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 20px 0;
        }

        .company-logo-img {
            filter: grayscale(100%);
        }

        /*Transform Area*/
        .transform {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            background-color: #FFF9F3;
            padding: 0 30px;
            border-radius: 20px;
        }

        .tr-upper {
            display: flex;
            align-items: center;
        }

        .tr-h1 {
            font-family: "Bricolage Grotesque", serif;
            line-height: 1.1;
        }

        .tr-text {
            width: 50%;
        }

        .tr-text-wrapper {
            padding: 30px 0px;
        }

        .tr-p {
            font-size: 18px;
            color: #45426E;
            font-weight: 500;
        }

        .tr-text-li li,
        svg {
            list-style-type: none;
            font-weight: 500;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .tr-li {
            padding: 5px 0;
        }

        .button-container {
            display: flex;
            justify-content: flex-start;
            padding: 20px 0px;
            margin: 10px 0 0 0;
        }

        .custom-button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: #3a30ba;
            color: white;
            font-size: 18px;
            font-weight: 500;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
        }

        .custom-button:hover {
            background-color: rgb(14, 14, 70);
        }

        .button-icon {
            width: 18px;
            height: 18px;
        }

        .btn-text {
            font-size: 15px;
            font-weight: 600;
        }

        .hr {
            max-width: 1100px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
            opacity: .3;
        }

        .tr-image {
            width: 50%;
            padding: 20px;
        }

        /*transform-bottom*/
        .tr-bt-boxes {
            display: flex;
            padding: 30px 0;
        }

        .trb-h {
            font-size: 20px;
            font-weight: 600;
            padding: 20px 0 10px 0;
            color: #201C51;
        }

        .trb-p {
            color: #45426E;
            font-size: 17px;
        }

        .tr-bt-singl-bx {
            padding: 0 20px;
        }

        .trb-svg {
            color: #3A30BA;
        }

        /*No Code Area Area*/
        .no-code-builder {
            background-color: #FDEFF7;
        }

        /*White Label CMS Area*/
        .white-label-cms {
            background-color: #F1FAF7;
        }

        /*Build With Airable Area*/
        .build-with-airable {
            background-color: #EEEBFA;
        }

        /*White Label CMS Area*/
        .white-label-cms,
        .build-with-airable,
        .no-code-builder {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            padding: 0 30px;
            border-radius: 10px;
        }

        /* Join Over Area */
        .join-over {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 80px -60px 60px 80px;
            gap: 20px;
        }

        .left-jo,
        .right-jo {
            width: 50%;
            padding: 0 45px;
        }

        .left-jo h2 {
            font-size: 40px;
            color: #17134A;
            font-weight: 500;
            line-height: 1;
            margin: 0;
        }

        .button-container {
            margin-top: 10px;
            display: flex;
        }

        .custom-button {
            display: flex;
            align-items: center;
            background-color: #170f86;
            color: white;
            border: none;
            padding: 12px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
        }

        .custom-button .button-icon {
            margin-left: 10px;
            width: 20px;
            height: 20px;
        }

        .right-jo p {
            text-align: center;
            color: #17134A;
            font-weight: 700;
            font-size: 20px;
            margin: 0 0 10px;
        }

        .logo-join-over {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            padding: 20px 0;
        }

        /* Dark Blue Area */
        .dark-blue {
            background-color: #030521;
            color: white;
            max-width: 1400px;
            margin: 0 auto;
        }

        .dba-text-boxs {
            padding: 70px 20px;
            text-align: center;
            max-width: 1070px;
            margin: 0 auto;
        }

        .three-div-main-box {
            display: flex;
            gap: 20px;
            width: 100%;

            border-radius: 5px;
            padding: 70px 0 0 0;
            justify-content: center;
        }

        .bo {
            width: 100%;
            border: 1px solid gray;
            padding: 30px 20px;
            border-radius: 5px;
        }

        /*No Mai Area*/
        .no-mai-area {
            max-width: 1400px;
            margin: 0 auto;
        }

        .nm-texts {
            width: 100%;
            text-align: center;
            padding: 90px 0 50px;
        }

        .nm-texts h1 {
            font-size: 50px;
            font-weight: 600;
        }

        .nm-texts p {
            font-size: 20px;
            color: rgb(39, 39, 39);
        }

        .no-mai-boxes {
            padding: 0px 20px;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
        }

        .no-mai-single-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .nm-singl-bx svg {
            padding-left: 5px;
        }

        .nm-singl-bx {
            width: 33.33%;
            padding: 20px 30px;
        }

        /*Affordable Pricing*/
        .aff-price {
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #FFF9F3;
            padding: 80px 0;
        }

        .aff-texts {
            max-width: 700px;
            text-align: center;
        }

        .aff-texts h1 {
            font-size: 60px;
            font-weight: 600;
        }

        .aff-texts p {
            font-size: 16px;
            font-weight: 400;
            color: rgb(36, 36, 36);
        }

        /*Extended Guider Atea*/
        .ega-main {
            margin: 0 0 100px 0;
        }

        .exg-area {
            max-width: 1400px;
            margin: 0 auto;
        }

        .exg-single-boxes {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 25px;
        }

        .exg-singl-bx {
            width: 30.00%;
            padding: 20px;
            background-color: #F6F6FC;
            border-radius: 10px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .exgsb-one{
            border-bottom: 3px solid #8C3BFC;
        }
        .exgsb-two{
            border-bottom: 3px solid #DE238E;

        }

        .exgsb-three{
            border-bottom: 3px solid #FFCD87;

        }

        .exg-texts {
            width: 100%;
            text-align: center;
            padding: 80px 0 70px;
        }

        .exg-texts h1 {
            font-size: 50px;
            font-weight: 600;
            line-height: 1.1;
        }

        .exg-button-container {
            margin-top: 20px;
            display: flex;
        }

        .exg-custom-button {
            display: flex;
            align-items: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
        }

        .exg-custom-button .exg-button-icon {
            margin-left: px;
            width: 20px;
            height: 20px;
        }

        .exg-btn-text {
            color: rgb(61, 61, 61);
        }

        /*footer*/
        footer {
            background-color: #030521;
            color: white;
            padding: 90px 110px 0;
            max-width: 1400px;
            margin: 0 auto;
        }

        .footer-top {
            text-align: center;
            margin-bottom: 40px;
        }

        .footer-top h1 {
            font-size: 50px;
            font-weight: 600;
        }

        /* footer-top-button */
        .footer-top-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            gap: 10px;
        }

        .footer-top-button a {
            display: inline-flex;
            align-items: center;
            background-color: #221a91;
            color: #fff;
            padding: 20px 54px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .footer-btn-back{
            position: absolute;
            
        }

        .footer-top-button a:hover {
            background-color: #063466;
        }

        .footer-top-button svg {
            width: 18px;
            height: 18px;
        }

        /*Center*/
        .footer-center {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1170px;
            border-top: 1px solid gray;
            padding-top: 50px;
        }

        .footer-center-left {
            width: 40%;
            padding: 0 45px 0 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .footer-center-left p {
            font-size: 15px;
            color: #93A1B7;
        }

        .fcl-btn {
            display: inline-flex;
            max-width: 231px;
            width: 100%;
            border-radius: 5px;
            padding: 4px 5px;
            background-color: #2b2b2b;
        }

        .footer-center-left a {
            font-size: 16px;
            font-weight: 500;
            color: white;
        }

        .footer-center-left a:hover {
            text-decoration: none;
        }

        .footer-center-middle {
            width: 15%;
            padding-right: 40px;
        }

        .general-resources {
            display: flex;
            flex-direction: column;
        }

        .general-resources h6 {
            font-size: 15px;
            margin-bottom: 10px;
        }

        .general-resources a {
            text-decoration: none;
            color: #93A1B7;
            display: block;
            margin-bottom: 5px;
        }

        .general-resources a:hover {
            color: white;
        }

        .footer-center-column {
            width: 18%;
            margin-right: 20px;
        }

        .footer-center-column h6 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .footer-center-column a {
            text-decoration: none;
            color: #93A1B7;
            display: block;
            margin-bottom: 5px;
        }

        .footer-center-column a:hover {
            color: white;
        }

        .footer-center-right {
            width: 25%;
        }

        .exg-custom-button {
            color: #ffcc85;
            padding-left: 10px;
        }

        .exg-custom-button:hover {
            color: #ffffff;
        }

        .exg-button-icon {
            padding-left: 5px;
        }

        /*Footer Bootom*/
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }


        .footer-bottom-right a, p {
            text-decoration: none;
            color: #93A1B7;
            margin: 0 10px 10px;
        }