* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}



.static {
    width: 500px;
    padding: 50px;
    color: #ff0000;
    line-height: 1.6;
    background: rgb(211, 211, 211);
    border-radius: 10px;
}

/*Position Relative এর ব্যাবহার*/
.relative {
    width: 340px;
    background-color: rgb(0, 14, 92);
    color: rgb(255, 255, 255);
    padding: 20px;

    position: relative;
    top: 150px;
    left: 250px;
}

/*Position Relative and Absolute এর ব্যাবহার*/
.main-box{
    width: 440px;
    height: 500px;
    background-color: rgb(0, 148, 20);
    color: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    left: 850px;
    bottom: 250px;
    z-index: 1;
}

.sub-box {
    width: 140px;
    background-color: rgb(148, 0, 148);
    color: rgb(255, 255, 255);
    padding: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}