* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin: 10px;
    border: 2px solid #b3a700;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.mainbox {
    border: 2px solid #00770a;
    margin: 10px;
    display: flex;
}

.subbox {
    border: 2px solid #004450;
    margin: 10px;
    width: 50%;
}

.subbox-left {
    border: 2px solid #ff0000;
    margin: 10px;
}

.subbox-right {
    border: 2px solid #ff0000;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blankbox {
    position: absolute;
    background: #440404;
    border: 1px solid #000000;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
}

.rsubbox {
    background: #e4e4e4;
    border: 2px solid #0000ff;
    margin: 10px;
    width: 45%;
    position: relative;
    z-index: 1;
}

.d1 {
    margin: 0 auto;
    width: 300px;
    /* 10 units */
    height: 180px;
    /* 6 units */
    background: green;
    position: relative;
    z-index: 1;
}

.d2 {
    width: 90px;
    /* 3 units (50% of height) */
    height: 90px;
    /* 3 units */
    border: 1px solid red;
    background: red;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    /* Makes the element circular */
    transform: translate(-50%, -50%);
    /* Centers the circle */
}